@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  background-color: yellow;
  background: linear-gradient(to left, yellow, orange);
  font-family: Raleway, Roboto, sans-serif;  
  margin: 0 auto;
  transition: 1s linear;
  box-sizing: border-box;
  padding: 2vw;
  font-size: 10px;
  text-align: justify;
  font-weight: 500;
}
body {
  font-size: 2rem;
  color: white;
  border: 0.5vw solid black;
  box-shadow: 1vw 1vw 3vw black;
  background-color: blue;
  border-radius: 1vw;
  padding: 5vw;
}
header {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
img {
  max-width: 150px;
  border-radius: 50%;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
h3 {
  background: linear-gradient(to left, yellow, orange);
  color: black;
  padding: 1vw;
  border: 2px solid black;
}
footer {
  text-align: center;  
  font-size: 1.05rem;
  margin-top: 8vw;
  margin-bottom: -4vw;
}
section {
  max-width: 80vw;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.folio {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.folio>div {
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}
.indent {
  text-indent: 8vw;
}