@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  background-color: yellow;
  background: linear-gradient(to left, yellow, orange);
  font-family: Raleway, Roboto, sans-serif;  
  margin: 0 auto;
  transition: 1s linear;
  box-sizing: border-box;
  padding: 2vw;
  font-size: 1vw;
}
body {
  font-size: 2rem;
  color: white;
  border: 0.5vw solid black;
  box-shadow: 1vw 1vw 3vw black;
  background-color: blue;
  border-radius: 1vw;
}
header {
  background-color: inherit;
  border: 2px solid black;
  margin: 0 auto;
  width: 200px;
}
header img {
  max-width: 150px;
  border-radius: 50%;
  float: none;
}
h3 {
  background: linear-gradient(to left, yellow, orange);
  color: black;
  padding: 20px;
  border: 2px solid black;
}
li {
  list-style-type: none;
  float: justify;
}
a {
  text-decoration: none;
  color: white;  
}
i {
  float: none;
}


article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  /*background-image: url('sciezka');*/
}

header section {
  margin: 0 auto;
}



h1 {
  margin: 1em 0;
  text-transform: uppercase;
}


main {
  max-width: 1140px;
}


.course {
}

.course .title {
}

.course .descrition {
}
